@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #4f536e;
    color: rgb(6, 5, 16);
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #172940;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    background-color: rgb(108 129 156 / 0.5);
    color: rgb(31, 28, 65);
}

.stats-container:hover {
    color: lightblue;
    box-shadow: 0 0 30px;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: rgba(164, 188, 215, 0.5);
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#site-name {
    color: #6985aa;
}

.center-text {
    text-align: center;
}

#welcome-header {
    font-size: 30px;
    color:#878cb0;
}

.description-text {
    font-size: 20px;
}

.section-header {
    font-size: 25px;
    text-decoration: underline;
    color:#878cb0;
    margin-top: 60px;
}

#unfunded-btn, #funded-btn, #all-btn {
    font-size: 15px;
    background-color:#a8b0bc;
}